extends ../index
block content
	div
		div.panel.panel-primary
			div.panel-heading
				p(align="center",style="font-size:22px; margin-top:3px; margin-bottom:3px;") ჩვენ გთავაზობთ
			div.panel-body
				div.row
					div.col-md-6
						ul(style="font-size:20px")
							li ახალი თაობის GPRS სალარო აპარატებს
							li შექმნილი SAM მოდულის ტექნოლოგიით
							li სრული ქართული მენიუთი
					div.col-md-6
						img.img-thumbnail(src="img/datecs-logo.jpg",style="width:100%;")
		hr
		div.row
			div.col-md-6
				div.thumbnail
					div.pricetag
						img(src="img/pricetag.png",style="width:110px;height:60px;")
						span.pricetag-value 
							span 390
							span(style="font-family:GEL;font-size:22px;")= ' L'
					img(src="img/Home-DP25.jpg")
					div.caption
						h3.text-center.text-bold.text-warning DP-25
					div.btn-group.btn-group-justified.font-bpg-mtavruli
						a.btn.btn-primary.btn-lg(href='/produktebi') დეტალურად
						a.btn.btn-warning.btn-lg(href='/files/axali_ssa_gakidva_registracia.pdf',target="blank") ყიდვა
			div.col-md-6
				div.thumbnail
					div.pricetag
						img(src="img/pricetag.png",style="width:110px;height:60px;")
						span.pricetag-value 
							span 390
							span(style="font-family:GEL;font-size:22px;")= ' L'
					img(src="img/Home-DP05.jpg")
					div.caption
						h3.text-center.text-bold.text-warning DP-05
					div.btn-group.btn-group-justified.font-bpg-mtavruli
						a.btn.btn-primary.btn-lg(href='/produktebi') დეტალურად
						a.btn.btn-warning.btn-lg(href='/files/axali_ssa_gakidva_registracia.pdf',target='blank') ყიდვა
		hr
		div.row
			div.col-md-6
				div.thumbnail
					div.pricetag
						img(src="img/pricetag.png",style="width:110px;height:60px;")
						span.pricetag-value 
							span 390
							span(style="font-family:GEL;font-size:22px;")= ' L'
					img(src="img/Home-DP150.jpg")
					div.caption
						h3.text-center.text-bold.text-warning DP-150
					div.btn-group.btn-group-justified.font-bpg-mtavruli
						a.btn.btn-primary.btn-lg(href='/produktebi') დეტალურად
						a.btn.btn-warning.btn-lg(href='/files/axali_ssa_gakidva_registracia.pdf',target="blank") ყიდვა
			div.col-md-6
		h3.font-bpg-mtavruli სერვისები
		hr
		div(style="font-size:110%;")
			div.row
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/registracia.png")
						a.rect-link(href="/files/axali_ssa_gakidva_registracia.pdf",target="blank") სალარო აპარატის რეგისტრაცია
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/gamoskidva.png")
						a.rect-link(href="javascript:alert('სერვისი შექმნის პროცესშია');") სალარო აპარატის გამოსყიდვა
			div.row
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/gadaformeba.png")
						a.rect-link(href="#") სალარო აპარატის გადაფორმება
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/dzebna.png")
						a.rect-link(href="javascript:alert('სერვისი შექმნის პროცესშია');") გადახდის თარიღის ძებნა
			div.row
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/fosta.png")
						a.rect-link(href="javascript:alert('სერვისი შექმნის პროცესშია');") სალარო აპარატის ფოსტით შეძენა
				div.col-md-6
					div.rect
						img.img-thumbnail(src="img/icons/kitxva.png")
						a.rect-link(href="/kitxvaPasuxi") დასვით კითხვა