extends ../index
block content
	div.row
		div.col-md-10
			div.panel.panel-primary
				div.panel-heading
					h4 Documentation
				div.panel-body
					span ...working
		div.col-md-2
			div.panel.panel-primary
				div.panel-heading
					h4 Downloads
				div.panel-body
					p: a(href="/files/lib/KasaGE-2.0.zip",target="blank") .NET 2.0 SDK
					p: a(href="/files/lib/KasaGE-3.5.zip",target="blank") .NET 3.5 SDK
					p: a(href="/files/lib/KasaGE-4.0.zip",target="blank") .NET 4.0 SDK
					p: a(href="/files/lib/KasaGE-4.5.zip",target="blank") .NET 4.5 SDK
					p: a(href="/files/lib/demoApp.zip",target="blank") Demo Application
