extends ../index
block content
	div.row.rect
		div.col-md-3
			img.img-thumbnail(src="img/DP-25.png",style="width:350px; margin-left:-14px;")
		div.col-md-9
			h3.text-warning.text-bold DP-25
			blockquote
				p.indent-20 DATECS  DP-25  წარმოადგენს  პროგრამირებად საკონტროლო  სალარო  აპარატს. აპარატით შესაძლებელია დამოუკიდებლად(კომიუტერთან კავშირის გარეშე), როგორც მხოლოდ სალაროს წარმოება, ისე საქონლის აღრიცხვა საცალო და საბითუმო ვაჭრობის განხსვავებულ ობიექტებზე. საქონლის აღრიცხვა მოიცავს გაყუდული რაოდენობის აღრიცხვასა და მარაგების მართვას. სალარო აპარატი აღჭურვილია გარე მოწყობილობებთან (შტრიხკოდ სკანერი, ფულის უჯრა, სასწორი) საკომუნიკაციო პორტებით და ახდენს გაყიდვის პროცესში მათ გამოყენებას.
				p.indent-20 სსა „DATECS DP-25“  მუშაობს SAM მოდულის აქტივაციით, რომელიც არის ISO/IEC 7810-ის სტანდარტის შესაბამისად შექმნილი. იგი აღნიშნული სტანდარტის მიხედვით მუშაობს გარე მოწყობილობასთან და გამოიყენება დაცულობის და უსაფრთხოების უზრუნველყოფისთვის.
				p.indent-20 ტექნიკური მომსახურების ღირებულება: 6 თვე - 30 ლარი; 12 თვე - 60 ლარი;
				p.indent-20 აპარატის ღირებულება: 6 თვის მომსახურებით: 420ლ; 12 თვის მომსახურებით 450ლ;
			div.pull-right
				a.btn.btn-primary.font-bpg-mtavruli(href="/files/instruqcia_dp_25.pdf",target="blank") ინსტრუქცია
				a.btn.btn-warning.font-bpg-mtavruli(href="/files/axali_ssa_gakidva_registracia.pdf",target="blank") ყიდვა
	div.row.rect
		div.col-md-3
			img.img-thumbnail(src="img/DP-50-Plus.png",style="width:350px; margin-left:-14px;")
		div.col-md-9
			h3.text-warning.text-bold DP-05
			blockquote
				p.indent-20 DATECS  DP-05  წარმოადგენს  პროგრამირებად საკონტროლო  სალარო  აპარატს. იგი შექმნილია მობილური ამოცანების მქონე მომხმარებლის მოთხოვნების დასაკმაყოფილებლად.
				p.indent-20 სსა „DATECS DP-05“  მუშაობს აგრეთვე SAM მოდულის აქტივაციით, რომელიც არის ISO/IEC 7810-ის სტანდარტის შესაბამისად შექმნილი. იგი აღნიშნული სტანდარტის მიხედვით მუშაობს გარე მოწყობილობასთან და გამოიყენება დაცულობის და უსაფრთხოების უზრუნველყოფისთვის. SAM მოდულში შესაბამისი პროგრამული უზრუნველყოფის ჩაწერას ახორციელებს შემოსავლების სამსახური.
				p.indent-20 ტექნიკური მომსახურების ღირებულება: 6 თვე - 30 ლარი; 12 თვე - 60 ლარი;
				p.indent-20 აპარატის ღირებულება: 6 თვის მომსახურებით: 420ლ; 12 თვის მომსახურებით 450ლ;
				p.indent-20: ul: li აპარატის აქსესუარი (ჩანთა) - 30 ლარი.
			div.pull-right
				a.btn.btn-primary.font-bpg-mtavruli(href="/files/instruqcia_dp_25.pdf",target="blank") ინსტრუქცია
				a.btn.btn-warning.font-bpg-mtavruli(href="/files/axali_ssa_gakidva_registracia.pdf",target="blank") ყიდვა
	//each prod in produktebiList
		div.row.rect=prod
	div.row.rect
		div.col-md-3
			img.img-thumbnail(src="img/DP-150.jpg",style="width:350px; margin-left:-14px;")
		div.col-md-9
			h3.text-warning.text-bold DP-150
			blockquote
				p.indent-20 DATECS DP-150 წარმოადგენს პროგრამირებად საკონტროლო სალარო აპარატს
				p.indent-20 მას აქვს ყველა ის უპრატესობა რაც DATECS DP-25, მაგრამ მისგან განსხვავებით კომპაქტურია.
				p.indent-20 სსა „DATECS DP-150“ მუშაობს SAM მოდულის აქტივაციით, რომელიც არის ISO/IEC 7810-ის სტანდარტის შესაბამისად შექმნილი. იგი აღნიშნული სტანდარტის მიხედვით მუშაობს გარე მოწყობილობასთან და გამოიყენება დაცულობის და უსაფრთხოების უზრუნველყოფისთვის.
				p.indent-20 ტექნიკური მომსახურების ღირებულება: 6 თვე - 30 ლარი; 12 თვე - 60 ლარი;
				p.indent-20 აპარატის ღირებულება: 6 თვის მომსახურებით: 420ლ; 12 თვის მომსახურებით 450ლ;
				p.indent-20 მოქმედებს განვადება! 
			div.pull-right
				a.btn.btn-primary.font-bpg-mtavruli(href="/files/instruqcia_dp_25.pdf",target="blank") ინსტრუქცია
				a.btn.btn-warning.font-bpg-mtavruli(href="/files/axali_ssa_gakidva_registracia.pdf",target="blank") ყიდვა
