extends ../index
block content
	script.
		var filialebi = [
			{
				id:1,
				displayName: 'თბილისი',
				address: "აკ. წერეთლის გამზ. #77",
				lat: 41.737362, lng: 44.782135
			},
			{
				id:2,
				displayName:'რუსთავი',
				address:'მ. კოსტავას გამზ. #33',
				lat:41.541965, lng: 45.014706
			},
			{
				id:3,
				displayName:'ქუთაისი',
				address:'რუსთაველის გამზ. #110',
				lat:42.266421, lng: 42.690014
			},
			{
				id:4,
				displayName:'ბათუმი',
				address:'ფიროსმანის ქ. #7',
				lat:41.638716, lng: 41.615569
			},
			{
				id:5,
				displayName:'ქობულეთი',
				address:'რუსთაველის ქ. #197',
				lat:41.826361, lng:  41.778680
			},
			{
				id:6,
				displayName:'ზუგდიდი',
				address:'გამარჯვების ქ. #12',
				lat:42.504580,lng:41.871024
			},
			{
				id:7,
				displayName:'ახალციხე',
				address:'ანდრია პირველწოდებულის ქ. #61',
				lat:41.638036, lng: 42.986419
			},
			{
				id:8,
				displayName:'ხაშური',
				address:'იმერეთის ქ.22',
				lat:41.988523, lng:43.591148
			},
			{
				id:9,
				displayName:'ზესტაფონი',
				address:'აღმაშენებლის ქ. #45',
				lat:42.107043,lng: 43.034825
			},
			{
				id:10,
				displayName:'გორი',
				address:'სამეფოს ქუჩა #37',
				lat:41.980628, lng: 44.106582
			},
			{
				id:11,
				displayName:'ოზურგეთი',
				address:'ჭავჭავაძის ქ. #8',
				lat:41.925704, lng: 42.005307
			},
			{
				id:12,
				displayName:'მარნეული',
				address:'რუსთაველის #49ბ',
				lat:41.466968,lng: 44.819033
			},
			{
				id:13,
				displayName:'თელავი',
				address:'დ.აღმაშენებლის #56',
				lat:41.924754, lng:45.473398
			},
			{
				id:14,
				displayName:'გარდაბანი',
				address:'აღმაშენებლის ქ. #56',
				lat:41.469960, lng:45.084480
			},
			{
				id:15,
				displayName:'ბოლნისი',
				address:'სულხან-საბას ქ. #125',
				lat:41.450047, lng:44.536806
			},
			{
				id:16,
				displayName:'ახალქალაქი',
				address:'ჰავასის ქ. #12',
				lat:41.404514, lng:43.488132
			}
		];
		var markers = {};
		function initMap() {
			var mapOptions = {
				center: new google.maps.LatLng(41.737362, 44.782135),
				zoom: 17,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById('map'), mapOptions);
			filialebi.forEach(function (filiali) {
				var marker = new google.maps.Marker({
					map : map,
					position : new google.maps.LatLng(filiali.lat,filiali.lng)
				});
				markers[filiali.id] = marker;
			});
			return map;
		}
		app.controller('filialebiCtrl',function($scope){
			var map = initMap();
			$scope.selectedBranch = null;
			$scope.filialebi = filialebi;
			$scope.selectBranch = function (f) {
				map.setCenter(new google.maps.LatLng(f.lat,f.lng));
				var currentMarker = markers[f.id];
				var infowindow = new google.maps.InfoWindow({
					content : "<span style='font-size: 18px; font-weight: bold'>" + f.address +"</span>"
				});
				infowindow.open(map, currentMarker);
				$scope.selectedBranch = f;
			};
			$scope.selectBranch(filialebi[0]);
		});
	div.row(ng-controller="filialebiCtrl")
		div.col-md-3
			div.list-group.cursor-pointer
				a.list-group-item(ng-repeat="f in filialebi",ng-click="selectBranch(f)",ng-class="{active: selectedBranch == f}") {{f.displayName}}
		div.col-md-9
			div#map(style="width:100%;height:800px;")
